<p id="notice"><%= notice %></p>

<h1>Listing Emergencies</h1>

<table>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Fire need</th>
      <th>Police need</th>
      <th>Medical need</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergencies.each do |emergency| %>
      <tr>
        <td><%= emergency.reason %></td>
        <td><%= emergency.fire_need %></td>
        <td><%= emergency.police_need %></td>
        <td><%= emergency.medical_need %></td>
        <td><%= emergency.city %></td>
        <td><%= link_to 'Show', emergency %></td>
        <td><%= link_to 'Edit', edit_emergency_path(emergency) %></td>
        <td><%= link_to 'Destroy', emergency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emergency', new_emergency_path %>
